{{ partial "header.html" . }}
<body>
    {{ partial "singletop.html" . }}
  <div class="container">
    <div class="intro">
      <figure> <img src="/images/skydive2.jpg" alt="skydive in dubai" data-action="zoom" /> </figure>
      <p>Hi! I'm <a href="/about">Prakhar Srivastav</a> and welcome to my little corner of the internet. I currently work as a software engineer at Google where I spend my time building awesome tools for developers.
    </div>

      <div class="row">

        <div class="six columns recent">
          <h3>Recent Posts</h3>
          <ul>
            {{ range first 3 .Data.Pages }}
            <li>
              <a href="{{ .RelPermalink }}" class="title">{{ .Title }}</a>
              <p class="desc">{{ .Description }}</p>
            </li>
            {{ end }}
          </ul>
          <a class="button" href="/articles">All Posts</a>
        </div>

        <div class="six columns recent">
          <h3>Recent Project</h3>
          <figure class="recent-project">
            <img data-action="zoom" src="/images/gsoc2015.png">
          </figure>
          <p><a href="/projects#react-surveyman">React-Surveyman</a> is a rich, interactive drag-and-drop based <a href="https://en.wikipedia.org/wiki/Single-page_application">SPA</a> that serves as a survey building frontend for the Surveyman research project built from the ground up in React &amp; Flux.
            </p>
          <a class="button button-primary" href="/projects">All Projects</a>
        </div>

    </div>
      </div>
      {{ partial "footer.html" . }}
  </div>
    {{ partial "bodyend.html" . }}
    {{ partial "analytics.html" . }}
</body>
</html>
