{{ partial "header.html" . }}
<body>
    {{ partial "singletop.html" . }}
  <div class="container">
    <div class="row">
      <div class="intro">

        <div class="row">
            <figure> <img src="/images/skydive2.jpg" alt="" /> </figure>
            <p>Hi! I'm <a href="/about">Prakhar Srivastav</a> and welcome to my little corner of the internet. I'm a programmer currently based out of Kuwait. I love Python, Vim and Lemon Ice Tea - not necessarily in that order.</p>
        </div>

      </div>
     </div>

      <div class="row">

        <div class="six columns">
          <h3>Recent Posts</h3>
          <ul class="recent-posts">
            {{ range first 3 .Data.Pages }}
            <li>
              <a href="{{ .RelPermalink }}" class="title">{{ .Title }}</a>
              <p class="desc">{{ .Description }}</p>
            </li>
            {{ end }}
          </ul>
          <a class="button" href="/articles">All Posts</a>
        </div>

        <div class="six columns">
          <h3>Recent Project</h3>
          <figure class="recent-project">
            <a href=""><img src="/images/colorphun-mast.png"></a>
          </figure>
            <p><a href="/projects#colorphun">Colorphun</a> is a color game for Android</p>
          <a class="button" href="/projects">All Projects</a>
        </div>

    </div>
      </div>
      {{ partial "footer.html" . }}

  </div>
</body>
</html>
