{{ partial "header.html" . }}
<body>
    {{ partial "singletop.html" . }}
  <div class="container">
    <div class="row">
      <div class="intro">

        <div class="row">
          <div class="four columns">
            <figure>
              <img src="/images/mugshot-001.jpg" alt="" />
            </figure>
          </div>
          <div class="eight columns">
            <p>Hi! I'm <a href="/about">Prakhar Srivastav</a> and welcome to my little corner of the internet. I'm a programmer currently based out of Kuwait. I love Python, Vim and Lemon Ice Tea - not necessarily in that order.</p>
            <p>If you’d like to connect, feel free to reach out on my <a href="mailto:prakhar1989@gmail.com">email</a> or stalk me elsewhere on the web - 
            <h1 class="social-me">
              <a title="Github" href="http://github.com/prakhar1989"><i class="ion-social-octocat"></i></a> 
              <a title="Hacker News" href="https://news.ycombinator.com/user?id=krat0sprakhar"><i class="ion-social-hackernews-outline"></i></a>
              <a title="Twitter" href="https://twitter.com/prakharsriv9"><i class="ion-social-twitter"></i></a> 
              <a title="LinkedIn" href="https://www.linkedin.com/in/prakharsrivastav"><i class="ion-social-linkedin-outline"></i></a> 
            </h1></p>
          </div>
        </div>

      </div>
     </div>

      <div class="row">

        <div class="six columns">
          <h3>Recent Posts</h3>
          <ul class="recent-posts">
            {{ range first 3 .Data.Pages }}
            <li>
              <a href="{{ .RelPermalink }}" class="title">{{ .Title }}</a>
              <p class="desc">{{ .Description }}</p>
            </li>
            {{ end }}
          </ul>
          <a class="button" href="/articles">All Posts</a>
        </div>

        <div class="six columns">
          <h3>Recent Project</h3>
          <figure class="recent-project">
            <a href=""><img src="/images/colorphun-mast.png"></a>
          </figure>
            <p><a href="/projects#colorphun">Colorphun</a> is a color game for Android</p>
          <a class="button" href="/projects">All Projects</a>
        </div>

    </div>
      </div>
      {{ partial "footer.html" . }}

  </div>
</body>
</html>
