[submodule "public"]
	path = public
	url = git@github.com:prakhar1989/prakhar1989.github.com.git
[submodule "prakhar1989.github.com"]
	path = prakhar1989.github.com
	url = git@github.com:prakhar1989/prakhar1989.github.com.git
