@font-face {
  font-family: 'fontello';
  src: url('/fontello/font/fontello.eot?63344949');
  src: url('/fontello/font/fontello.eot?63344949#iefix') format('embedded-opentype'),
       url('/fontello/font/fontello.woff?63344949') format('woff'),
       url('/fontello/font/fontello.ttf?63344949') format('truetype'),
       url('/fontello/font/fontello.svg?63344949#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?63344949#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-quote-left:before { content: '\e800'; } /* '' */
.icon-tag:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-article-alt:before { content: '\e806'; } /* '' */
.icon-github-circled:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */
.icon-hacker-news:before { content: '\e809'; } /* '' */
.icon-linkedin:before { content: '\e80a'; } /* '' */

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/*
* Skeleton V2.0
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
*/


/* Table of contents
–––––––––––––––––––––––––––––––––––––––––––––––––– 
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative; 
  width: 80%; 
  max-width: 960px; 
  margin: 0 auto; 
  padding: 0; }
.container .column,        
.container .columns { 
  float: left; 
  width: 100%; 
  box-sizing: border-box; }
.row { 
  margin-bottom: 2rem; }
.row .column:first-child,        
.row .columns:first-child { 
  margin-left: 0; }

/* For devices larger than 550px */
@media (min-width: 550px) {
  
  .container .column,
  .container .columns {
    margin-left: 4%; }
  
  .container .one.column,
  .container .one.columns          { width: 4.66666666667%; }
  .container .two.columns          { width: 13.3333333333%; }
  .container .three.columns        { width: 22%;            }
  .container .four.columns         { width: 30.6666666667%; }
  .container .five.columns         { width: 39.3333333333%; }
  .container .six.columns          { width: 48%;            }
  .container .seven.columns        { width: 56.6666666667%; }
  .container .eight.columns        { width: 65.3333333333%; }
  .container .nine.columns         { width: 74.0%;          }
  .container .ten.columns          { width: 82.6666666667%; }
  .container .eleven.columns       { width: 91.3333333333%; }
  .container .twelve.columns       { width: 100%; margin-left: 0; }

  .container .one-third.column     { width: 30.6666666667%; }
  .container .two-thirds.column    { width: 65.3333333333%; }

  .container .one-half.column      { width: 48%; }

  /* Offsets */
  .container .offset-by-one.column,
  .container .offset-by-one.columns       { margin-left: 8.66666666667%; }
  .container .offset-by-two.column        { margin-left: 17.3333333333%; }
  .container .offset-by-three.column      { margin-left: 26%;            }
  .container .offset-by-four.column       { margin-left: 34.6666666667%; }
  .container .offset-by-five.column       { margin-left: 43.3333333333%; }
  .container .offset-by-six.column        { margin-left: 52%;            }
  .container .offset-by-seven.column      { margin-left: 60.6666666667%; }
  .container .offset-by-eight.column      { margin-left: 69.3333333333%; }
  .container .offset-by-nine.column       { margin-left: 78.0%;          }
  .container .offset-by-ten.column        { margin-left: 86.6666666667%; }
  .container .offset-by-eleven.column     { margin-left: 95.3333333333%; }

  .container .offset-by-one-third.column  { margin-left: 34.6666666667%; }
  .container .offset-by-two-thirds.column { margin-left: 69.3333333333%; }

  .container .offset-by-one-half.column   { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton 
are based on 10px sizing. So basically 1.5rem = 15px :) */
html { 
  font-size: 62.5%; } 
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 { 
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2rem; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a { 
  color: #1EAEDB; }
a:hover { 
  color: #0FA0CE; }


/* Buttons 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  background-color: transparent;
  border-radius: 4px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #bbb;
  height: 38px;
  line-height: 38px;
  padding: 0 25px;
  letter-spacing: .1rem;
  text-transform: uppercase; 
  white-space: nowrap;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  border-color: #888;
  color: #333;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  border-color: #33C3F0;
  background-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: #1EAEDB;
  border-color: #1EAEDB;
  color: #FFF; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="search"],
input[type="text"],
input[type="password"],
textarea,
select {
  border: 1px solid #D1D1D1;
  height: 36px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  border-radius: 4px;
  box-shadow: none;
  background: #fff; }
/* Removes awkard default styles on some inputs */
input[type="email"],
input[type="search"],
input[type="text"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  font-weight: 600;
  margin-bottom: .5rem; }
fieldset {
  border-width: 0;
  padding: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul { 
  list-style: circle inside; }
ol { 
  list-style: decimal inside; }
ol, ul {
  margin-top: 0;
  padding-left: 0; }
ul ul, 
ul ol,
ol ol, 
ol ul { 
  margin: 1.5rem 0 1.5rem 3rem; 
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  white-space: nowrap; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
form,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }
p {
  margin-top: 0; }



/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf { 
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries 
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons secion and style it 
there. 
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* SITE WIDE CSS */
body {
  color: #283035;
  font-family: "Source Serif Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #307EA9;
}

code, kbd, pre, samp {
  font-family: "Source Code Pro", monospace;
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6, button, .button {
  font-family: "Raleway", sans-serif;
}

h4 a {
  text-decoration: none;
}

input[type="email"] {
  height: 24px;
}

.button.button-primary, 
button.button-primary, 
input[type="submit"].button-primary, 
input[type="reset"].button-primary, 
input[type="button"].button-primary {
  border-color: rgb(105, 128, 140);
  background: rgb(105, 128, 140);
}

.button.button-primary:hover, 
button.button-primary:hover, 
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover, 
input[type="button"].button-primary:hover, 
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  border-color: rgb(105, 128, 140);
  background: #5a6e79;
}

input[type="email"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  border-color: rgb(105, 128, 140);
}

.container {
  background: white;
  max-width: 740px;
  position: relative;
  margin: 0 auto;
  padding: 3rem;
  width: 80%;
}
figure {
  text-align: center;
}
figure img {
  width: 100%;
  height: auto!important;
}

figcaption {
  text-align: center;
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  font-style: italic;
}

blockquote p {
  margin-bottom: 0;
}

div.footnotes {
  font-size: 1.2rem;
  font-style: italic;
}

/* SITE WIDE ENDS */

.post-header {
  border-bottom: 1px solid #eee;
}

.post-header .container {
  background: none;
  padding: 0rem;
  color: white;
  font-weight: 800;
}

.post-header a {
  color: #69808c;
}

blockquote {
  background: #e9f2f7;
  padding: 2rem;
  margin: 2rem 0;
}

h1 { 
  font-size: 1.8rem;
}

h3 {
  line-height: 1.3;
  color: #5a6e79;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
}

section.post {
  margin: 1.2rem 0;
  padding: 2rem 0;
}

section ol, section ul {
  padding-left: 2.0rem;
}

ol {
  list-style: decimal outside;
}

ul {
  list-style: disc outside;
}

div.post-title a.title {
  color: #526F7F;
  text-decoration: none;
  font-size: 1.8rem;
}

h1.post-title {
  margin-bottom: 1rem;
}

h1.post-title a {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #69808c;
  font-size: 1.8rem;
}


/* HEADER SECTION */
nav ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 2rem;
  margin: 0 2rem;
}

nav ul {
  text-align: center;
  margin-bottom: 0;
}

.post-header h4 {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.post-header .row {
  margin-bottom: 1rem;
}

span.post-date.listing-date {
  color: #a5bac5;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}

/* HEADER SECTION ENDS */

p.post-meta {
  margin: 1rem 0;
  font-size: 1.2rem;
}

div.post-meta {
  text-align: right;
}

a.post-tag {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
}


.post-content {
  margin-top: 2rem;
}

.post-content-meta {
  color: #a2b1b9;
  font-style: italic;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}

.post-content h4 {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    color: #5a6e79;
}

.footer {
  font-size: 1.2rem;
  text-align: center;
}

div.post-meta, .paging {
  display: none;
}

.paging-newer {
  text-align: right;
}

.paging a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 1.6rem;
  background: #eee;
  color: #5a6e79;
  padding: 1.2rem;
  border-radius: 2px;
}

/* QUOTE PAGE */
div.custom-quote, 
ul#quotes-list li {
  font-family: "Raleway", sans-serif;
  position: relative;
  padding: 15px 0 0 44px;
  margin-bottom: 3rem;
  list-style-type: none;
}

div.custom-quote h1, 
ul#quotes-list li h1 {
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #dce2e5;
}

ul#quotes-list li p {
  display: inline;
}

div.custom-quote span.author, 
ul#quotes-list li span.author {
  font-style: italic;
  font-weight: 600;
}

/* QUOTE PAGE ENDS */

ul#projects-list {
  padding-left: 0;
}

ul#projects-list li {
  list-style-type: none;
}

ul#projects-list div.project-item {
  margin-bottom: 5rem;
}

a.fork-github {
  float: right;
}

p.tech-stack {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 1.0rem;
  margin-bottom: 0.8rem;
  color: white;
  font-weight: 600;
}

p.tech-stack span.tag {
  background-color: #5a6e79;
  margin-right: 10px;
  padding: 4px 4px;
  border-radius: 4px;
}

h1.social-me a {
  font-size: 3rem;
  margin-right: 2rem;
  color: #5a6e79;
}

div.recent {
  margin-top: 2rem;
}

div.recent ul li {
  list-style-type: none;
}

div.recent p.desc {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
}

.intro figure, div.recent figure {
  margin: 0;
}

.intro figure {
  margin-bottom: 2em;
}

.intro figure img {
  border-radius: 4px;
  max-width: none;
}

/* Disqus */

div#disqus_thread a {
  color: #5a6e79;
}

a.publisher-anchor-color {
  color: #5a6e79;
}

div#disqus_area {
  background: #f5f9fc;
  padding: 2rem;
}

/* pygments highlighting */
.highlight {
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

code {
  background: white;
  border: 1px solid #ddd;
}

pre, .highlight pre {
  line-height: 135%;
  white-space: pre-wrap;     
  white-space: -moz-pre-wrap;  
  white-space: -pre-wrap;     
  white-space: -o-pre-wrap;   
  word-wrap: break-word;       
  margin: 0;
}
/* MEDIA QUERIES */

/* Larger than phablet */
@media (min-width: 550px) {
  body { font-size: 1.8rem; }

  h1 { font-size: 1.8rem; 
    margin-bottom: 0.4rem;
  }
  h2 { font-size: 2.0rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.5rem; }
  h5 { font-size: 1.2rem; }
  h6 { font-size: 1.2rem; }

  div.post-meta, .paging {
    display: block;
  }

  /* HEADER SECTION */
  nav ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 2rem;
    margin: 0 1.5rem;
  }

  nav ul {
    text-align: right;
    margin-top: 1.4rem;
  }

  .post-header h4 {
    text-align: left;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h1.post-title a {
    font-size: 2.4rem;
  }

  .post-content {
    margin-top: 3rem;
  }

  h1.post-title {
    margin-bottom: 2rem;
  }

  p.tech-stack {
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
      font-weight: 600;
  }

  p.tech-stack span.tag {
      margin-right: 10px;
      padding: 4px 8px;
  }

}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #8f5902; font-style: italic } /* Comment */
/*.highlight .err { color: #a40000; border: 1px solid #ef2929 } Error */
.highlight .g { color: #000000 } /* Generic */
.highlight .k { color: #204a87; font-weight: bold } /* Keyword */
.highlight .l { color: #000000 } /* Literal */
.highlight .n { color: #000000 } /* Name */
.highlight .o { color: #ce5c00; font-weight: bold } /* Operator */
.highlight .x { color: #000000 } /* Other */
.highlight .p { color: #000000; font-weight: bold } /* Punctuation */
.highlight .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.highlight .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.highlight .gd { color: #a40000 } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #ef2929 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #000000; font-style: italic } /* Generic.Output */
.highlight .gp { color: #8f5902 } /* Generic.Prompt */
.highlight .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.highlight .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #000000 } /* Literal.Date */
.highlight .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.highlight .s { color: #4e9a06 } /* Literal.String */
.highlight .na { color: #c4a000 } /* Name.Attribute */
.highlight .nb { color: #204a87 } /* Name.Builtin */
.highlight .nc { color: #000000 } /* Name.Class */
.highlight .no { color: #000000 } /* Name.Constant */
.highlight .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #ce5c00 } /* Name.Entity */
.highlight .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #000000 } /* Name.Function */
.highlight .nl { color: #f57900 } /* Name.Label */
.highlight .nn { color: #000000 } /* Name.Namespace */
.highlight .nx { color: #000000 } /* Name.Other */
.highlight .py { color: #000000 } /* Name.Property */
.highlight .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #000000 } /* Name.Variable */
.highlight .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.highlight .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.highlight .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.highlight .sb { color: #4e9a06 } /* Literal.String.Backtick */
.highlight .sc { color: #4e9a06 } /* Literal.String.Char */
.highlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4e9a06 } /* Literal.String.Double */
.highlight .se { color: #4e9a06 } /* Literal.String.Escape */
.highlight .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.highlight .si { color: #4e9a06 } /* Literal.String.Interpol */
.highlight .sx { color: #4e9a06 } /* Literal.String.Other */
.highlight .sr { color: #4e9a06 } /* Literal.String.Regex */
.highlight .s1 { color: #4e9a06 } /* Literal.String.Single */
.highlight .ss { color: #4e9a06 } /* Literal.String.Symbol */
.highlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #000000 } /* Name.Variable.Class */
.highlight .vg { color: #000000 } /* Name.Variable.Global */
.highlight .vi { color: #000000 } /* Name.Variable.Instance */
.highlight .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */

img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -webkit-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}
img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition:      opacity 300ms;
       -o-transition:      opacity 300ms;
          transition:      opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}
