body {
  color: #283035;
}

.container {
  background: white;
  max-width: 760px;
  position: relative;
  margin: 0 auto;
  padding: 3rem;
  width: 80%;
}

.post-header {
  border-bottom: 1px solid #eee;
}

.post-header .container {
  background: none;
  padding: 0rem;
  color: white;
  font-weight: 800;
}

.post-header .row {
  margin-bottom: 0;
}

.post-header a {
  color: #a2b1b9;
  text-decoration: none;
}

.post-header h4 a {
  font-weight: 800;
}

.post-header h4 {
  margin: 1.6rem 0;
}

blockquote {
  background: #e9f2f7;
  padding: 2rem;
  margin: 1rem 0;
}

blockquote p {
  margin: 0;
}

h1 { 
  font-size: 2.4rem;
}
h3 {
  line-height: 1.3;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 600;
}

section.post {
  margin: 1.2rem 0;
  padding: 2rem 0;
}

.read-more-link a {
  margin: 0.4rem 0;
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background-image: url('http://prakhar.me/images/texture-feature-01.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 35rem;
  box-shadow: inset 0 0 15px rgba(0,0,0,.5)
}

.mast {
  margin-top: 5rem;
}

section ol, section ul {
  padding-left: 1.5rem;
}

ul {
  list-style: disc inside;
}

div.post-title a.title {
  color: #526F7F;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
}

h1.post-title a {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #69808c;
}

.nav-list li {
  list-style-type: none;
  float: left;
  position: relative;
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.nav-list ul {
  padding-left: 0;
}

.nav-list li a {
  margin-right: 2.7rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

p.post-meta {
  margin: 1rem 0;
  font-size: 1.2rem;
}

div.post-meta {
  text-align: right;
}

a.post-tag {
  text-decoration: none;
  font-style: italic;
  font-size: 1.2rem;
}

div.post-meta, .paging {
  display: none;
}

.paging-newer {
  text-align: right;
}

.post-date {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}

.post-content {
  margin-top: 2rem;
}

.post-content-meta {
  color: #a2b1b9;
  font-style: italic;
}

.footer {
  font-size: 1.2rem;
  text-align: center;
}

/* MEDIA QUERIES */

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 2.5rem; }
  h2 { font-size: 2.0rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.5rem; }
  h5 { font-size: 1.2rem; }
  h6 { font-size: 1.2rem; }
  
  div.post-meta, .paging {
    display: block;
  }

  .nav-list li a {
    margin-right: 0rem;
    margin-left: 3.2rem;
  }
}

@media (min-width: 420px) {
  .nav-list li a {
    margin-right: 0rem;
    margin-left: 3.2rem;
  }
}
