@charset "UTF-8";

@font-face {
  font-family: "persona-icon";
  src:url("../fonts/persona-icon.eot");
  src:url("../fonts/persona-icon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/persona-icon.woff") format("woff"),
    url("../fonts/persona-icon.ttf") format("truetype"),
    url("../fonts/persona-icon.svg#persona-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "persona-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "persona-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fontawesome-webfont-1:before {
  content: "b";
}
.icon-fontawesome-webfont-2:before {
  content: "c";
}
.icon-fontawesome-webfont:before {
  content: "a";
}
.icon-menu:before {
  content: "a";
}
.icon-rss:before {
  content: "b";
}
.icon-twitter:before {
  content: "c";
}
.icon-vimeo:before {
  content: "d";
}
.icon-tumblr:before {
  content: "e";
}
.icon-vkontakte:before {
  content: "f";
}
.icon-soundcloud:before {
  content: "g";
}
.icon-skype:before {
  content: "h";
}
.icon-rdio:before {
  content: "i";
}
.icon-pinterest:before {
  content: "j";
}
.icon-mixi:before {
  content: "k";
}
.icon-heart:before {
  content: "l";
}
.icon-github:before {
  content: "m";
}
.icon-gplus:before {
  content: "n";
}
.icon-instagrem:before {
  content: "o";
}
.icon-lastfm:before {
  content: "p";
}
.icon-flickr:before {
  content: "q";
}
.icon-linkedin:before {
  content: "r";
}
.icon-paypal:before {
  content: "s";
}
.icon-picasa:before {
  content: "t";
}
.icon-stumbleupon:before {
  content: "u";
}
.icon-dribbble:before {
  content: "v";
}
.icon-behance:before {
  content: "w";
}
.icon-dropbox:before {
  content: "x";
}
.icon-droplet:before {
  content: "y";
}
.icon-evernote:before {
  content: "z";
}
.icon-facebook-squared:before {
  content: "A";
}
.icon-spotify:before {
  content: "B";
}
.icon-retweet:before {
  content: "C";
}
.icon-export:before {
  content: "D";
}
.icon-mail:before {
  content: "G";
}
.icon-fontawesome-webfont:before {
  content: "a";
}
.icon-fontawesome-webfont:before {
  content: "a";
}
.icon-fontawesome-webfont-1:before {
  content: "E";
}
.icon-fontawesome-webfont-2:before {
  content: "F";
}
s ease-out;
}

.tp-caption a:hover {
color:#ffa902;
}

.largeredbtn {  
font-family: "Raleway", sans-serif;
font-weight: 900;
font-size: 16px;
line-height: 60px;
color: #fff !important;
text-decoration: none;
padding-left: 40px;
padding-right: 80px;
padding-top: 22px;
padding-bottom: 22px;
background: rgb(234,91,31); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(234,91,31,1) 0%, rgba(227,58,12,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,91,31,1)), color-stop(100%,rgba(227,58,12,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea5b1f', endColorstr='#e33a0c',GradientType=0 ); /* IE6-9 */
}

.largeredbtn:hover {
background: rgb(227,58,12); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(227,58,12,1) 0%, rgba(234,91,31,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,58,12,1)), color-stop(100%,rgba(234,91,31,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e33a0c', endColorstr='#ea5b1f',GradientType=0 ); /* IE6-9 */      
}

.fullrounded img {
   -webkit-border-radius: 400px;
-moz-border-radius: 400px;
border-radius: 400px; 
  }
</style>
<link rel='stylesheet' id='rs-captions-css'  href='http://pixelcoder.net/wp-content/plugins/revslider/rs-plugin/css/dynamic-captions.css?rev=4.3.1&#038;ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='normalize-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/css/normalize.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='theme-framework-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/css/rt-css-framework.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='fontello-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/css/fontello/css/fontello.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='jackbox-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/js/lightbox/css/jackbox.min.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='theme-style-all-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/css/style.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='theme-style-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/style.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-owl-carousel-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/css/owl.carousel.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='flex-slider-css-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/css/flexslider.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='progression-player-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/js/video_player/progression-player.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='progression-skin-minimal-light-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/js/video_player/skin-minimal-light.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='isotope-css-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/css/isotope.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-colortip-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/css/colortip-1.0-jquery.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='animate-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/css/animate.css?ver=3.9.2' type='text/css' media='all' />
<!--[if IE 7]>
<link rel='stylesheet' id='theme-ie7-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/css/ie7.css?ver=3.9.2' type='text/css' media='all' />
<![endif]-->
<!--[if lt IE 9]>
<link rel='stylesheet' id='theme-ltie9-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/css/before_ie9.css?ver=3.9.2' type='text/css' media='all' />
<![endif]-->
<link rel='stylesheet' id='theme-skin-css'  href='http://pixelcoder.net/wp-content/themes/rttheme18/css/orange-style.css?ver=3.9.2' type='text/css' media='all' />
<style type='text/css'>
#navigation_bar > ul > li > a{font-family:'PT Sans Narrow',sans-serif;font-weight:normal !important}.flex-caption,.pricing_table .table_wrap ul > li.caption,.pricing_table .table_wrap.highlight ul > li.caption,.banner p,.sidebar .featured_article_title,.footer_widgets_row .featured_article_title,.latest-news a.title,h1,h2,h3,h4,h5{font-family:'PT Sans Narrow',sans-serif;font-weight:normal !important}body,#navigation_bar > ul > li > a span,.product_info h5,.product_item_holder h5,#slogan_text{font-family:'PT Sans',sans-serif;font-weight:400 !important}.testimonial .text,blockquote p{font-family:'PT Serif',sans-serif;font-weight:normal !important}@media only screen and (min-width:960px){.header-design2 .default_position #navigation_bar > ul > li > a{line-height:80px}.header-design2 #logo img{max-height:60px}.header-design2  #logo h1,.header-design2  #logo h1 a{padding:0;line-height:60px}.header-design2 .section_logo > section{display:table;height:60px}.header-design2 #logo > a{display:table-cell;vertical-align:middle}}
</style>
<link rel='stylesheet' id='menu-css'  href='//fonts.googleapis.com/css?family=PT+Sans+Narrow&#038;subset=latin%2Clatin-ext&#038;ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='body-css'  href='//fonts.googleapis.com/css?family=PT+Sans%3A400%2C400italic&#038;ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='serif-css'  href='//fonts.googleapis.com/css?family=PT+Serif&#038;ver=3.9.2' type='text/css' media='all' />
<script type='text/javascript' src='http://pixelcoder.net/wp-includes/js/jquery/jquery.js?ver=1.11.0'></script>
<script type='text/javascript' src='http://pixelcoder.net/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://pixelcoder.net/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.plugins.min.js?rev=4.3.1&#038;ver=3.9.2'></script>
<script type='text/javascript' src='http://pixelcoder.net/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?rev=4.3.1&#038;ver=3.9.2'></script>
<script type='text/javascript' src='http://pixelcoder.net/wp-content/themes/rttheme18/js/modernizr.min.js?ver=3.9.2'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://pixelcoder.net/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://pixelcoder.net/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 3.9.2" />
<!--[if lt IE 9]><script src="http://pixelcoder.net/wp-content/themes/rttheme18/js/html5shiv.js"></script><![endif]--><!--[if gte IE 9]> <style type="text/css"> .gradient { filter: none; } </style> <![endif]--></head>
<body class="error404  responsive menu-style-one  full  wide  header-design1  ">

			<script type="text/javascript">
			/* <![CDATA[ */ 
				document.getElementsByTagName("html")[0].className.replace(/\no-js\b/, "js");
				window.onerror=function(){				
					document.getElementById("rt_loading").removeAttribute("class");
				}			 	
			/* ]]> */	
			</script> 
		
<!-- background wrapper -->
<div id="container">   


	<!-- mobile actions -->
	<section id="mobile_bar" class="clearfix">
		<div class="mobile_menu_control icon-menu"></div>
		    
	</section>
	<!-- / end section #mobile_bar -->    

	    


		<!-- header -->
	<header id="header"> 

		<!-- header contents -->
		<section id="header_contents" class="clearfix">
				 
				
			<section class="section_logo logo_left three">			 
				<!-- logo -->
				<section id="logo">			 
					 <h1 class="logo"><a href="http://pixelcoder.net" title="PixelCoder">PixelCoder</a></h1> 
				</section><!-- end section #logo -->
			</section><!-- end section #logo -->	
			<section class="section_widget first three"></section><!-- end section .section_widget --><section class="section_widget second three">
			<section id="slogan_text" class="right_side ">
				 
			</section></section><!-- end section .section_widget -->
		</section><!-- end section #header_contents -->  	


		<!-- navigation -->   
		<div class="nav_shadow sticky"><div class="nav_border"> 

			<nav id="navigation_bar" class="navigation  with_search"><ul id="navigation" class="menu"><li id='menu-item-11'  class="menu-item menu-item-type-post_type menu-item-object-page top-level-0" data-column-size='0'><a  href="http://pixelcoder.net/home/">HOME</a> </li>
<li id='menu-item-39'  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children hasSubMenu top-level-1" data-column-size='0'><a  href="http://pixelcoder.net/theme/">Theme</a> 
<ul class="sub-menu">
<li id='menu-item-43'  class="menu-item menu-item-type-post_type menu-item-object-page"><a  href="http://pixelcoder.net/lightflow-2/">LightFlow</a> </li>
<li id='menu-item-37'  class="menu-item menu-item-type-post_type menu-item-object-page"><a  href="http://pixelcoder.net/cube-2/">Cube+</a> </li>
<li id='menu-item-38'  class="menu-item menu-item-type-post_type menu-item-object-page"><a  href="http://pixelcoder.net/sytic-2/">Sytic</a> </li>
</ul>
</li>
<li id='menu-item-66'  class="menu-item menu-item-type-post_type menu-item-object-page top-level-2" data-column-size='0'><a  href="http://pixelcoder.net/services/">Services</a> </li>
<li id='menu-item-65'  class="menu-item menu-item-type-post_type menu-item-object-page top-level-3" data-column-size='0'><a  href="http://pixelcoder.net/contact-us/">Contact Us</a> </li>
<li id='menu-item-73'  class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent top-level-4" data-column-size='0'><a  href="http://pixelcoder.net/blog/">Blog</a> </li>
</ul>
					<!-- search -->
					<div class="search-bar">
						<form action="http://pixelcoder.net/" method="get" class="showtextback" id="menu_search">
							<fieldset>							
								<input type="text" class="search_text showtextback" name="s" id="menu_search_field" value="Search" />		
								<div class="icon-search-1"></div>					
							</fieldset>
						</form>
					</div>
					<!-- / search-->
				 

			</nav>
		</div></div>
		<!-- / navigation  --> 

	</header><!-- end tag #header --> 	



		<!-- content holder --> 
		<div class="content_holder">

		<section class="top_content clearfix"><section class="info_bar clearfix "><section class="heading"><h2>404 - Page Not Found</h2></section> <section class="breadcrumb"><div itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a class="icon-home" href="http://pixelcoder.net" itemprop="url"><span itemprop="title" title="PixelCoder">Home</span></a> <span class="icon-angle-right"></span> 
<div itemscope itemprop="child" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title" title="Error 404">Error 404</span></div></div></section></section></section>		
			<div class="content_second_background">
				<div class="content_area clearfix"> 
		

													
<section class="content_block_background">
	<section class="content_block clearfix">
		<section id="page-404" class="content full" >		
			<div class="row"> 

		 		<div class="clearfix page-404">	
					
					<div class="box three first">
						<span class="icon-address"></span>
					</div>

					<div class="box two-three last">
						<h1>404</h1>

						<p>Apologies, but the page you requested could not be found. Perhaps searching will help.</p>

						<form method="get" id="searchform" action="http://pixelcoder.net/"  class="showtextback rt_form">
<ul>
    <li><input type="text" class='search showtextback' value="type and hit enter.." name="s" id="s" /></li>
</ul>
</form>
<div class="space margin-b20"></div>					</div>

				</div>


			</div>
		</section><!-- / end section .content -->   
	</section>
</section>
							
	
				</div><!-- / end div .content_area -->  

				<div class="content_footer footer_widgets_holder"><section class="footer_widgets clearfix"></section></div>

	        </div><!-- / end div .content_second_background -->  
	    </div><!-- / end div .content_holder -->  
	</div><!-- end div #container --> 

    <!-- footer -->
    <footer id="footer">
     
        <!-- footer info -->
        <div class="footer_info">       
                
            <!-- left side -->
            <div class="part1">

					<!-- footer nav -->
										    				    
					<!-- copyright text -->
					<div class="copyright">Copyright © 2014 Pixel Coder.					</div><!-- / end div .copyright -->	            
                
            </div><!-- / end div .part1 -->
            
			<!-- social media icons -->				
			<!-- / end ul .social_media_icons -->

        </div><!-- / end div .footer_info -->
            
    </footer>
    <!-- / footer -->


 
<script type='text/javascript' src='http://pixelcoder.net/wp-content/themes/rttheme18/js/jquery.easing.1.3.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://pixelcoder.net/wp-content/themes/rttheme18/js/jquery.tools.min.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://pixelcoder.net/wp-content/themes/rttheme18/js/waypoints.min.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://pixelcoder.net/wp-content/themes/rttheme18/js/video_player/mediaelement-and-player.min.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://pixelcoder.net/wp-content/themes/rttheme18/js/lightbox/js/jackbox-packed.min.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://pixelcoder.net/wp-content/themes/rttheme18/js/colortip-1.0-jquery.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://pixelcoder.net/wp-content/themes/rttheme18/js/jquery.flexslider.js?ver=3.9.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var rt_theme_params = {"ajax_url":"http:\/\/pixelcoder.net\/wp-admin\/admin-ajax.php","rttheme_template_dir":"http:\/\/pixelcoder.net\/wp-content\/themes\/rttheme18","sticky_logo":"","content_animations":"","page_loading":""};
/* ]]> */
</script>
<script type='text/javascript' src='http://pixelcoder.net/wp-content/themes/rttheme18/js/script.js?ver=3.9.2'></script>
</body>
</html>