<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Prakhar Srivastav - cat /dev/random">
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="blog" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:description" content="{{if .IsPage}}{{ .Summary }}{{else}}{{.Site.Params.description}}{{end}}" />
<meta property="og:image" content="{{ if .Params.mastimage }}{{ .Params.mastimage }}{{ else }} {{ "http://prakhar.me/images/skydive2.jpg" }} {{ end }}"/>
