<div class="post-header">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <h4><a href="/">CAT /DEV/RANDOM</a></h4>
      </div>
      <div class="four columns">
        <ul class="nav-list">
          <li><a href="/about" title="About Me"><i class="ion-android-person"></i></a></li>
          <li><a href="/articles" title="Articles"><i class="ion-ios-paper"></i></a></li>
          <li><a href="/projects" title="Projects"><i class="ion-social-github"></i></a></li>
          <li><a href="/quotes" title="Quotes"><i class="ion-quote"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
