{{ partial "header.html" . }}
<body>
      {{ partial "singletop.html" . }}

  <div class="container">
    <div class="row">
      <h1 class="post-title"> <a href="/quotes/">Quotes</a> </h1>

      <div class="post-content">
        <p>I like hoarding pearls of wisdom that I come across while reading books, blog posts, HN and papers. Below is a growing collection of such tidbits. If you find any quote lacking or having a misplaced attribution please let me
        <a href="mailto: prakhar1989@gmail.com">know</a>.</p>

        <ul id="quotes-list">
           {{ range .Data.Pages }}
          <li>
              <h1><i class="ion-quote"></i></h1>
              {{ .Content }} - <span class="author">{{ .Params.author }}</span>
          </li>
           {{ end }}
        </ul>
      </div>
      
    </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
  </div>
  {{ partial "analytics.html" . }}

    </div>
  </div>
  {{ partial "bodyend.html" . }}
</body>
</html>
