@import url(http://fonts.googleapis.com/css?family=Lato:400,300italic,400italic,700,700italic,900,900italic,300,100italic,100);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic);
body{
  font-family: 'Lato',sans-serif;
}
.nav > li > a:hover, .nav > li > a:focus{
  background:transparent;
}
.body_back{
  overflow:hidden;
  margin:0;
  padding:0;
  width:100%;
  height:auto;
}
.left_sidebar_content_area{
  background: none repeat scroll 0 0 #191918;
  float: left;
  margin-left: -100%;
  width: 280px;
}
.main_content_area{
  float:left;
  width:100%;
  position:relative;
  margin-right:0;
  background:#fff;
}
#expand_content_menu{
  background: none repeat scroll 0 0 #000;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  left: 10px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 6px;
  border-radius: 4px;
  z-index:101;
  -webkit-transition:background .4s;
  -o-transition:background .4s;
  -ms-transition:background .4s;
  -moz-transition:background .4s;
  transition:background .4s;
}

#expand_content_menu:hover{
  background:#38C090;
}
#expand_content_menu .menu_cross {
  display: block;
  font-size: 33px;
  margin: -11px 0 0;
  padding: 0;
}
#body_hover{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.2);
  z-index:100;
  display:none;
}
a:focus, a:active{
  outline:none;
}
.no_padding{
  padding:0;
}
.profile_area{
  padding-bottom: 70px;
  padding-top: 100px;
  text-align: center;
}
.profile_area .profile_inner{}
.profile_area .profile_picture{
  text-align:center;
}
.profile_area .profile_picture a{
  border: 1px solid #f3f3f3;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  padding: 3px;
  -webkit-transition:all .4s;
  -moz-transition:all .4s;
  transition:all .4s;
}
.profile_area .profile_picture a img{
  border-radius: 50%;
  display: inline-block;
  height: 120px;
  margin: 0;
  padding: 0;
  width: 120px;

}
.profile_area .profile_picture a:hover{
  opacity:.8;
}
.profile_area .profile_inner{
  border-bottom: 1px solid #ebebeb;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0 0 67px 0;
}
.profile_area .profile_inner h2{
  font-family: 'Lato',sans-serif;
  font-size: 50px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  padding: 18px 0 7px 0;
  line-height:55px;
  color:#262626;
  text-align:center;
  -webkit-transition:all .4s;
  -moz-transition:all .4s;
  transition:all .4s;
}
.profile_area .profile_inner h2:hover{
  opacity:.8;
}
.profile_area .profile_inner h2 a{
  display:inline-block;
  margin:0;
  padding:0;
  text-decoration:none;
  color:#262626;
}
.profile_area .profile_inner p{
  color: #777777;
  font-family: 'Noto Serif',serif;
  font-size: 19px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
.profile_area .profile_inner .social_icon{
  margin: 26px 0 0 0;
  padding: 0;
  text-align: center;
  display: block;
}
.profile_area .profile_inner .social_icon a{
  display: inline-block;
  font-size: 24px;
  color:rgba(125, 125, 125,.8);
  padding: 0;
  margin:0;
  line-height: 24px;
  text-decoration:none;
}
.profile_area .profile_inner .social_icon a+a{
  margin-left: 13px;
}
.profile_area .profile_inner .social_icon a:hover{
  color: rgb(125, 125, 125);
}
.home_page_post_area{}
.home_page_post_area .home_single_post {
  margin:0;
  padding:0;
}
.home_page_post_area .home_single_post .post_image_area{
  margin-bottom:41px;
}
.home_page_post_area .home_single_post .post_image_area .large{
  margin:0;
  padding:0;
  overflow:hidden;
  position:relative;
  top:0;
  left:0;
}
.home_page_post_area .home_single_post .post_image_area .large img{
  border-radius: 6px;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 100%;
  display:inline-block;
}
.home_page_post_area .home_single_post .post_image_area .large p{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  bottom: 33px;
  color: #fff;
  display: inline-block;
  font-family: noto serif;
  font-size: 15px;
  font-style: italic;
  left: 33px;
  line-height: 18px;
  padding: 15px;
  position: absolute;
  margin:0;
}
.home_page_post_area .home_single_post .thumbnails{
  overflow:hidden;
  margin-left:-6px;
  margin-right:-6px;
}
.home_page_post_area .home_single_post .thumbnails ul {
  padding: 0;
  margin: 0;
}
.home_page_post_area .home_single_post .thumbnails ul li {
  border-radius: 6px;
  display: inline-block;
  float: left;
  margin: 12px 6px 0 6px;
  overflow: hidden;
  padding: 0;
  width: 371px;
        padding: 0;
}
.home_page_post_area .home_single_post .thumbnails ul li img{}
.home_page_post_area .home_single_post .post_content_area{}
.home_page_post_area .home_single_post .post_content_area .single_post_content{
  margin: 0;
  overflow: hidden;
  margin:0;
  padding:0;
  margin-bottom:64px;
  padding-bottom: 65px;
  border-bottom: 1px solid #ebebeb;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content h2{
  color: #262626;
  display: block;
  font-family: Lato;
  font-size: 40px;
  font-weight: normal;
  line-height: 45px;
  margin: 0;
  padding: 0;
  font-weight:900;
}

.home_page_post_area .home_single_post .post_content_area .single_post_content h2>a{
  color: #262626;
  font-family: lato;
  font-size: 40px;
  font-weight: 900;
  text-decoration: none;
  -webkit-transition:all .4s;
  -moz-transition:all .4s;
  -o-transition:all .4s;
  -ms-transition:all .4s;
  transition:all .4s;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content h2>a:hover{
  color: #39c492;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content h3{
  color: #777777;
  font-family: 'Noto Serif',serif;
  font-size: 19px;
  line-height: 30px;
  margin: 0;
  padding: 21px 0 18px 0;
  font-weight:700;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content p{
  color: #777777;
  font-family: 'Noto Serif', serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 20px 0;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content h3+p{
  padding-top:0;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content p a{
  color:#3ac492;
  text-decoration:none;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content p a:hover{
  text-decoration:underline;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content>a{
  color: #39c492;
  display: inline-block;
  font-family: 'noto serif';
  font-size: 19px;
  font-weight: 700;
  margin: 1px 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content>a:hover{
  text-decoration:underline;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content blockquote{
  border-left: 6px solid #e3e3e3;
  color: #777777;
  font-family: 'noto serif';
  font-size: 24px;
  font-style: italic;
  line-height: 36.8px;
  margin: 7px 0 6px;
  padding: 11px 0 13px 18px;
}

.home_page_post_area .home_single_post .post_content_area .single_post_content>a>span{
  font-family:arial;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content>a>span.fa-angle-double-right{
  font-size: 15px;
  margin-left: 2px;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content>h5{
  margin:0;
  padding:0;
  display:block;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content>h5>a{
  background: none repeat scroll 0 0 #3ac190;
  border-radius: 6px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 6px 0;
  overflow: hidden;
  padding: 28px 31px;
  display:block;
  text-decoration:none;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content>h5>a:hover{
  text-decoration:underline;
  cursor:pointer;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content>h5 span{
  color: #2f9b73;
  display: inline-block;
  float: right;
  font-size: 25px;
  font-weight: normal;
  margin: 6px 0 0;
  padding: 0;
  text-decoration: none;
}

.home_page_post_area .home_single_post .post_content_area .single_post_content>h5 span:hover{
  cursor:pointer;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content aside.post_info{}
.home_page_post_area .home_single_post .post_content_area .single_post_content h5+p{
  padding-top:16px;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content aside.post_info .tags {
  display: block;
  margin: 38px 0 14px 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content ul+.post_info .tags {
  margin-top:50px
}
.home_page_post_area .postyle_03 .post_content_area .single_post_content aside.post_info .tags {
  margin: 20px 0 14px;
}
.home_page_post_area .gallery_post_type .post_content_area .single_post_content aside.post_info .tags {
  margin-top: 18px;
}

.home_page_post_area .gallery_post_type .post_content_area .single_post_content aside.post_info .tags li {
  margin: 0;
  padding: 0;
}

.home_page_post_area .home_single_post .post_content_area .single_post_content aside.post_info .tags li a{
  color: #b3b3b1;
  display: inline-block;
  float: left;
  font-family: lato;
  font-size: 14px;
  margin: 0 10px 0 0;
  text-decoration: none;
  text-transform: capitalize;
}

.home_page_post_area .home_single_post .post_content_area .single_post_content aside.post_info .tags li a:hover{
  text-decoration:underline;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content aside.post_info .tags li a+a{}
.home_page_post_area .home_single_post .post_content_area .single_post_content aside.post_info .date_area{}
.home_page_post_area .home_single_post .post_content_area .single_post_content aside.post_info .date_area a{
  color: #b3b3b1;
  float: left;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
  display:inline-block;
  text-decoration:none;
  
}
.home_page_post_area .home_single_post .post_content_area .single_post_content aside.post_info .date_area a+a{
  margin-left:10px;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content aside.post_info .date_area a:hover{
  text-decoration:underline;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content aside.post_info .replay_area{
  display: block;
  float: right;
  line-height: 0;
  margin: -5px 0 0;
  min-height: 0;
  padding: 0;
  text-align: right;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content aside.post_info .replay_area a:hover{
  color: rgba(179, 179, 177,1);
}
.home_page_post_area .home_single_post .post_content_area .single_post_content aside.post_info .replay_area a{
  color: rgba(179, 179, 177,.8);
  display: block;
  font-size: 20px;
  margin: 0;
  padding:0;
  text-decoration: none;
  float:left;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  -o-transition:all .5s;
  -ms-transition:all .5s;
  transition:all .5s;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content aside.post_info .replay_area a+a{
  margin-left:14px;
}
.home_page_post_area .home_single_post .single_post_content .single_blockquote{
  text-align: center;
  margin: 0;
  padding: 0;
}
.home_page_post_area .home_single_post .single_post_content .single_blockquote h2 a{
  margin:0;
  padding:0;
  display:block;
}
.home_page_post_area .home_single_post .single_post_content .single_blockquote h2{
  color: #262626;
  font-family: lato;
  font-size: 40px;
  font-style: italic;
  font-weight: 900;
  line-height: 52px;
  margin: 0;
  padding: 0;
}
.home_page_post_area .home_single_post .single_post_content .single_blockquote h2 a>sup{
  background: none repeat scroll 0 0 red;
  color: #262626;
  display: inline-block;
  font-size: 35px;
  line-height: 0;
  margin: 0;
  padding: 0;
  top: 0;
}
.home_page_post_area .home_single_post .single_post_content .single_blockquote h2 a:hover>sup{
  color:#3AC190;
}
.home_page_post_area .home_single_post .single_post_content .single_blockquote a{
  color: #262626;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
  text-decoration: none;
}
.home_page_post_area .home_single_post .single_post_content .single_blockquote a:hover{
  
}
.home_page_post_area .home_single_post .post_content_area .single_post_content ul{
  list-style: none outside none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  margin-top:27px;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content ul li {
  background: none repeat scroll 0 0 #f6f6f6;
  border-radius: 6px;
  color: #777777;
  font-family: 'noto serif';
  font-size: 17px;
  line-height: 35px;
  margin: 0;
  padding: 7px 20px;
  display:block;
  text-decoration:none;
  font-weight:400;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content ul li:nth-child(even){
    background:transparent;
}
.home_page_post_area .home_single_post .post_content_area .single_post_content ul li span{
  font-weight:700;
}
.paginatin_area{
  margin: 0;
  overflow: hidden;
  padding: 4px 0 94px;
  text-align: center;
}
.paginatin_area ul{
  display: inline-block;
  list-style: none outside none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
}
.paginatin_area ul li{
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
.paginatin_area ul li a{
  background: none repeat scroll 0 0 #262626;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: lato;
  font-size: 14px;
  font-weight: 900;
  line-height: 17px;
  margin: 2px;
  min-height: 30px;
  min-width: 30px;
  padding: 6px;
  text-decoration: none;
  -moz-transition:all .4s;
  -webkit-transition:all .4s;
  -ms-transition:all .4s;
  -o-transition:all .4s;
  transition:all .4s;
}
.paginatin_area ul li.active a{
  background:#b3b3b1;
}
.paginatin_area ul li.active a:hover{
  background:#b3b3b1;
}
.paginatin_area ul li a:hover{
  background:#37C392;
}
.paginatin_area ul li a i{}
/*Sidebar Style css*/
.sidebar_single_module{
  margin: 0;
  overflow: hidden;
  display: block;
}
.sidebar_single_module .sidebar_wraper{
  overflow:hidden;
  width:220px;
  margin:0 auto;
  padding:0;
}
.sidebar_single_module:last-child .sidebar_inner{
  border-bottom:0;
}
.sidebar_single_module .sidebar_inner{
  border-bottom: 1px solid #242424;
  padding: 40px 0;
}
.sidebar_wraper h2 {
  color: #444 !important;
  font-family: lato;
  font-size: 16px;
  font-weight: 900;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
.sidebar_single_module .search_box{
  background: none repeat scroll 0 0 #242424;
  border-radius: 16px;
  height: 32px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  color:#424242;
  width: 219px;
}

.sidebar_single_module .search_box i{
  color: #424242;
  display: block;
  float: left;
  font-size: 15px;
  height: 20px;
  margin-top: 6px;
  padding-top: 1px;
  text-align: center;
  width: 45px;
}
.sidebar_single_module .search_box input{
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  color: #424242;
  float: left;
  margin: 5px 0 0 5px;
  padding: 0;
  width: 162px;
  font-family: lato;
  font-style: italic;
  color: #b3b3b1;
  font-size:14px;
}
.right_menu_area{}
.right_menu_area .nav{
  margin: -8px 0;
  padding: 0;
}
.right_menu_area .nav li{

}
.right_menu_area .nav li a{
  color: #b2b2b1;
  display: block;
  font-family: lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 4px 0;
  text-decoration:none;
  -moz-transition:color .4s;
  -ms-transition:color .4s;
  -webkit-transition:color .4s;
  transition:color .4s;
}
.right_menu_area .nav li.active a, .right_menu_area .nav li a:hover{
  color:#fff;
  background:transparent;
}
.right_menu_area .nav li ul{
  border-left: 3px solid #242424;
  display: none;
  list-style: none outside none;
  margin: 11px 0;
  padding-left: 18px;
}

.right_menu_area .nav li ul li a{
  font-size: 14px;
  line-height: 14px;
  margin: 15px 0 0 0;
  padding: 0;
}
.right_menu_area .nav li ul li:first-child a{
  margin-top:0;
}
.right_menu_area .nav li ul li:last-child a{
  margin-bottom:0;
}
.text_widget{
  margin: -10px 0;
}
.text_widget h2{
  color: #404040;
  font-family: lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  margin:0;
  padding:0;
}
.text_widget p{
  color: #b2b2b1;
  font-family: 'noto serif';
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top:5px;
  margin-bottom:8px;
}
.twitter_widget{
  margin-bottom:0px;
}
.twitter_widget .single_tweets{
  font-family: 'noto serif';
  font-size: 15px;
  line-height: 24px;
  margin:0;
  overflow: hidden;
  padding: 0;
  margin-top:5px;
}
.twitter_widget .single_tweets+.single_tweets{
  margin-top:20px;
}
.twitter_widget .single_tweets h3{
  color: #fff;
  font-family: 'noto serif';
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.twitter_widget .single_tweets p{
  color: #b2b2b1;
  font-family: 'noto serif';
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.twitter_widget .single_tweets a{
  color:#fff;
  text-decoration:none;
  display:block;
}
.twitter_widget .single_tweets a:hover{
  text-decoration:underline;
}
.twitter_widget .single_tweets span{
  display:block;
  color:#404040;
  font-size:13px;
}
.twitter_widget .twitter_btb{
  background: none repeat scroll 0 0 #242424;
  border: 0 none;
  box-shadow: none;
  color: #b3b3b1;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 700;
  height: 35px;
  margin-top: 26px;
  text-align: center;
  text-shadow: none;
  width: 136px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  -o-transition:all .5s;
  -ms-transition:all .5s;
  transition:all .5s;
}
.twitter_widget .twitter_btb:hover{
  color:#fff;
  background:#38C090;
}
.sidebar_wraper  .right_social_area{
  margin: -4px -4px -7px;
  overflow: hidden;
}
.flickr_widget h2{
  color: #424242;
  font-family: lato;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-top:-10px;
}
.flickr_widget div{
  padding:0;
  display:block;
  margin: 8px -3px -3px -3px;
  overflow: hidden;
  padding: 0;
}
.flickr_widget div a{
  border-radius: 6px;
  display: block;
  float: left;
  height: 70px;
  margin: 2px;
  overflow: hidden;
  padding: 0;
  width: 70px;
}
.flickr_widget div a+a{}
.flickr_widget div a img{
  margin:0;
  padding:0;
  display:inline-block;
  border:0 none;
  width:100%;
  height:100%;
  -webkit-transition:all .4s;
  -moz-transition:all .4s;
  transition:all .4s;
}
.flickr_widget div a img:hover{
  opacity:.6;
}
.dribble_widget{
  
}
.dribble_widget h2{
  color: #424242;
  font-family: lato;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-top:-10px;
}
.dribble_widget div{
  display: block;
  margin-top: 9px;
  overflow: hidden;
}
.dribble_widget div a{
  display:block;
  width:100%;
  margin:0;
  padding:0;
  overflow:hidden;
  border-radius:6px;
}
.dribble_widget div a img{
  width:100%;
  margin:0;
  padding:0;
  display:inline-block;
  -webkit-transition:all .4s;
  -moz-transition:all .4s;
  transition:all .4s;
}
.dribble_widget div a img:hover{
  opacity:.6;
}
.sidebar_wraper  .right_social_area a{
  color: #414141;
  display: block;
  float: left;
  font-size: 20px;
  font-weight: 400;
  margin: 1px 5px;
  text-decoration: none;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  -o-transition:all .5s;
  -ms-transition:all .5s;
  transition:all .5s;
}
.sidebar_wraper  .right_social_area a:hover{
  color:#fff;
}
.sidebar_wraper  .right_social_area a i{}
.sidebar_wraper  .tags{
  margin: -9px 0 -6px;
}
.sidebar_wraper  .tags div{
  overflow:hidden;
  margin-left:-6px;
  margin-right:-6px;
  margin-top:5px;
}
.sidebar_wraper  .tags div a{
  background: none repeat scroll 0 0 #242424;
  border-radius: 6px;
  color: #b2b2b1;
  display: inline-block;
  font-family: lato;
  font-size: 14px;
  line-height: 18px;
  margin: 6px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  float:left;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  -o-transition:all .5s;
  -ms-transition:all .5s;
  transition:all .5s;
  font-weight:900;
}
.sidebar_wraper  .tags div a:hover{
  color:#fff;
  background:#38C090;
}
.copy_right{
  margin: -5px 0 -13px 0;
}
.copy_right h2{
  color: #b2b2b1;
  font-family: noto serif;
  font-size: 15px;
  line-height: 24px;
}
.copy_right p{
  color: #b2b2b1;
  font-family: 'noto serif';
  font-size: 13px;
  font-style: italic;
  line-height: 24px;
  margin-top: 10px;
}
.copy_right p a{
  color: #fff;
}
.columns_variation_area{
  margin: -39px 0 70px 0;
  padding: 0;
  overflow:hidden;
}
.columns_variation_area .single_columns{
  margin: 0;
  padding: 22px 0;
}
.columns_variation_area  .single_columns h2{
  font-size: 40px;
  line-height: 52px;
  margin: 0;
  padding: 0;
  font-weight: 500;
}
.columns_variation_area  .single_columns p{
  color: #777777;
  font-family: 'noto serif';
  font-size: 19px;
  font-weight: normal;
  line-height: 30px;
  margin: 13px 0 0;
}
/*Single page style start*/
.single_page_post_area .home_single_post  .post_content_area .single_post_content h1{
  color: #262626;
  font-family: lato;
  font-size: 50px;
  font-weight: 900;
  line-height: 60px;
  margin: 3px 0;
}
.single_page_post_area .home_single_post  .post_content_area .single_post_content h3{
  color: #262626;
  font-size: 30px;
  line-height: 32px;
  margin: 0;
  padding: 5px 0 27px;
  font-family:lato;
  margin-top:5px;
  font-weight:900;
}
.single_page_post_area .home_single_post  .post_content_area .single_post_content .well{
  background: none repeat scroll 0 0 #f6f6f6;
  border: 0 none;
  border-radius: 6px;
  box-shadow: none !important;
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  margin: 8px 0 2px 0;
  padding: 30px 35px;
  white-space: pre-wrap;
  font-family:courier;
}
.single_page_post_area .home_single_post  .post_content_area .single_post_content ul{
  list-style: disc outside none;
  margin: 0 20px 6px 20px;
  overflow: visible;
}
.single_page_post_area .home_single_post  .post_content_area .single_post_content ul li{
  background: none repeat scroll 0 0 transparent;
  color: #777;
  font-family: noto serif;
  font-size: 19px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding:0;
}
.single_page_post_area .caption_image{}
.single_page_post_area  .caption_image img{
  border: 0 none;
  border-radius: 5px;
  display: inline-block;
  margin: 12px 0 0 0;
  padding: 0;
  width: 100%;
}
.single_page_post_area  .caption_image p{
  color: #777777 !important;
  font-size: 13px !important;
  font-style: italic;
  line-height: 20px !important;
  margin: 0 !important;
  padding: 15px 0 10px !important;
  text-align: center;
}
.single_page_post_area  .caption_image p span{
  text-transform: uppercase;
}
.single_page_post_area  .post_author_widgets{
  background: none repeat scroll 0 0 #f6f6f6;
  border-radius: 6px;
  overflow: hidden;
  padding: 33px;
  margin-bottom:5px;
}
.single_page_post_area .post_content_area .single_post_content aside.post_info .tags{
  margin-top:20px !important;
}
.single_page_post_area  .post_content_area .single_post_content{
  margin: 0 0 69px 0 !important;
  padding: 0 0 62px 0 !important;
}
.single_page_post_area  .post_author_widgets img{
  border-radius: 50%;
  display: block;
  float: left;
  height: 70px;
  margin: 0 15px 0 0;
  padding: 0;
  width: 70px;
  border:0 none;
}
.single_page_post_area  .post_author_widgets div{
  float: left;
  margin: 0;
  padding: 0;
  width: 565px;
  margin-top:-6px;
  margin-bottom:-9px;
}
.single_page_post_area  .post_author_widgets div h2{
  color: #333333 !important;
  font-family: lato !important;
  font-size: 19px !important;
  font-weight: 900 !important;
  line-height: 30px !important;
  
}
.single_page_post_area .post_author_widgets div p{
  font-style: italic;
  padding: 3px 0 !important;
}
.home_single_post.comment_area {
  clear: both;
  float: left;
  padding-left:40px;
}
.single_page_post_area .comment_area .post_content_area .comment_counter{
  color: #333;
  font-family: lato;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  margin: -5px 0 0 0;
  padding: 0;
}
#g-comments{
  margin:0;
  padding:0;
  float:left;
  clear:both;
        width: 100%;
  margin-top:-5px;
}
.p_arrow{}
.p_arrow i{
  display: block;
  font-family: lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
}
/*short code style start*/
.short_code_page{
  padding-bottom:185px;
}
.short_code_page .single_shortcode_area{}
.short_code_page .single_shortcode_area>p{
  color: #777777;
  font-family: 'noto serif';
  font-size: 19px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
.short_code_page .single_shortcode_area h2{
  color: #262626;
  font-family: lato;
  font-size: 30px;
  font-weight: 900;
  line-height: 52px;
  margin:0px 0 34px 0;
  padding:0;
}
.short_code_page .shortcode_page_title h2{
  font-size:40px;
  margin-top:-10px;
  margin-bottom:15px;
}
.short_code_page .buttons{
  margin-top: -2px;
}
.short_code_page .buttons h2{
  margin-bottom: 23px;
  margin-top: 50px;
}
.short_code_page .buttons h2{
  margin-bottom: 15px;
  margin-top: 50px;
}
.short_code_page .scode_tabs h2{
  margin: 58px 0 19px 0;
}
.short_code_page .accordion_back h2{
  margin: 56px 0 19px 0;
}
.short_code_page .alert_back h2{
  margin-bottom: -2px;
  margin-top: 37px;
}
.short_code_page .buttons div{
  margin:10px -3px;
}
.sc_btn{
  background: none repeat scroll 0 0 #000;
  border: 0 none;
  border-radius: 4px !important;
  color: #fff;
  font-family: lato;
  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
  margin:3px;
  min-height: 41px;
  min-width: 75px;
  padding: 11px 15px;
  text-align: center;
  text-shadow: none;
  -moz-transition:all .4s;
  -webkit-transition:all .4s;
  -o-transition:all .4s;
  -ms-transition:all .4s;
  transition:all .4s;
}
.sc_btn:hover{
  opacity:0.85;
  color:#fff;
}
.sc_btn_black{
  background:#000;
}
.sc_btn_black:hover{
  background:#000;
}
.sc_btn_gray{
  background:#b2b2b1;
}
.sc_btn_gray:hover{
  background:#b2b2b1;
}
.sc_btn_blue{
  background:#129ac8;
}
.sc_btn_blue:hover{
  background:#129ac8;
}
.sc_btn_red{
  background:#e4564e;
}
.sc_btn_red:hover{
  background:#e4564e;
}
.sc_btn_light_green{
  background:#81c43d;
}
.sc_btn_light_green:hover{
  background:#81c43d;
}
.sc_btn_light_shocking{
  background:#d483ca;
}
.sc_btn_light_shocking:hover{
  background:#d483ca;
}
.sc_btn_light_yellow{
  background:#ffb738;
}
.sc_btn_light_yellow:hover{
  background:#ffb738;
}
.sc_btn_round{
  border-radius: 40px !important;
  font-size: 19px !important;
}
.sc_btn_large{
  font-size: 21px;
  line-height: 22px;
  min-height: 46px;
  min-width: 95px;
}
.short_code_page .scode_tabs{
  margin-top: -4px;
}
.nav-tabs > li > a{
  border: 0 none;
  color: #262626;
  display: block;
  font-family: lato;
  font-size: 17px;
  font-weight: 700;
  padding-left: 28px;
  padding-right: 28px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  border:0;
  background:#f6f6f6;
}
.nav.nav-tabs.tab_menu {
  border: 0;
}
.tab-content {
  background: none repeat scroll 0 0 #f6f6f6;
  padding: 26px 35px;
  border-radius:0 0 2px 2px;
  overflow:hidden;
}
.tab-content p{
  color: #777777;
  font-family: noto serif;
  font-size: 19px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
/*Alert box style start*/
.alert_back{
  margin-bottom:80px;
}
.alert_gray{
  background: none repeat scroll 0 0 #f6f6f6;
  border-radius: 4px;
  color: #777;
  font-family: noto serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0;
  padding: 15px;
}
.alert_red{
  background: none repeat scroll 0 0 #ffe6e3;
  border-radius: 4px;
  color: #bf200d;
  font-family: noto serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0;
  padding: 15px;
}
.alert_yellow{
  background: none repeat scroll 0 0 #fff7d6;
  border-radius: 4px;
  color: #94645f;
  font-family: noto serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0;
  padding: 15px;
}
.alert_blue{
  background: none repeat scroll 0 0 #edfdd3;
  border-radius: 4px;
  color: #657e66;
  font-family: noto serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0;
  padding: 15px;
}
/*Alert box style end*/
/*Accordion Style Code Start*/
.accordion_area{
  margin:10px 0;
  padding:0;
  width:100%;
  height:100%;
  background:transparent;
}

.accordion_area .panel.panel-default{
  box-shadow:none;
}
.accordion_area .panel-heading, .accordion_area .panel-heading .panel-title{
  margin:0;
  padding:0;
  border:0;
  border-radius:0;
  overflow:hidden;
}
.accordion_area .panel-heading .panel-title a{
  background: none repeat scroll 0 0 #f6f6f6;
  border-radius: 2px;
  color: #262626;
  display: block;
  float: left;
  font-family: lato;
  font-size: 19px;
  font-weight: 700;
  height: 100%;
  line-height: 47px;
  margin: 0;
  padding: 7px 5px;
  text-decoration: none;
  width: 100%;
}

.accordion_area .panel-heading.active  .panel-title a{
  background:#f6f6f6 !important;
}
.accordion_area .panel-heading .panel-title a span.icon{
  color: #b2b2b1;
  display: inline-block;
  float: left;
  font-size: 18px;
  margin: 15px 15px 15px 11px;
  position: relative;
}
.icon_right .panel-heading .panel-title a span.icon{
  float:right;
}
.icon_left .panel-heading .panel-title a span.icon{
  float:left;
}
.icon_0 .panel-heading .panel-title a span.icon{
  display:none;
  opacity:0;
  padding-left:10px;
  padding-right:10px;
}
.icon_right .panel-heading .panel-title a, .icon_0 .panel-heading .panel-title a{
  padding-left:10px;
}
.accordion_area .panel-heading.active .panel-title a span.icon{
}

.accordion_area  .panel-group .panel {
  border: 0 none;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  background:transparent;
}
.accordion_area  .panel-body{
  border-width:0 !important;
  font-family: noto serif;
  font-size: 19px;
  line-height: 30px;
  padding: 35px;
  color:#777;
}
.panel-default > .panel-heading {
  background: transparent;
}
.group_accordion_with_space .panel-collapse + .panel-heading{
  margin-top:20px !important;
}
.icon_bottom_border  .panel-heading .panel-title a{
  border-bottom:2px solid #fff;
  margin:0;
  padding:0;
  line-height:38px;
}
.icon_bottom_border  .panel-heading.active .panel-title a{
  border-color:#25649F;
}
.icon_bottom_border  .panel-heading .panel-title a span.icon{
  font-size: 25px;
  margin: 0;
  padding: 7px 10px;
}
.icon_bottom_border  .panel-heading .panel-title a span.icon:after{
  position:absolute;
  top:100%;
  left:0;
  width:100%;
  height:2px;
  background:#fcb374;
  content:"";
}
.icon_bottom_border  .panel-heading.active .panel-title a span.icon:after{
  background:#fff;
}
.round_border .panel-heading .panel-title a{
  border:1px solid #fff;
}
.round_border .panel-heading .panel-title a span.icon{
  border-right:1px solid #fff;
  padding-right:9px;
}
.boxmode .panel-body{
    border-width:1px !important;
    border-style:solid !important;
    border-color:#fff;
    border-top:0 none !important;
}
/* Accordion style end*/
.slider_shortcode_area{
  margin-top:-25px;
}
.single_shortcode_area.slider_shortcode_area > h2 {
  margin-bottom: 20px;
}
/*short code style end*/